*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.screen{
    background-image: url("b.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vw;
}