*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    font-size: 6vw;
    text-align: center;
}
.s1{
    color: magenta;
    text-shadow: 0.2vw 0.2vw 0.2vw gold;}
.s2{
    color: royalblue;
    text-shadow: 0.2vw 0.2vw 0.2vw red;}
.s3{
        color:lawngreen;
        text-shadow: 0.2vw 0.2vw 0.2vw aqua;}
.s4{
    color:gray;
    text-shadow: 0.2vw 0.2vw 0.2vw chocolate;} 
.s5{
    color: maroon;
    text-shadow: 0.2vw 0.2vw 0.2vw navy;} 
.s6{
    color: tomato;
    text-shadow: 0.2vw 0.2vw 0.2vw rosybrown;}
.s7{
    color:yellow;
     text-shadow: 0.2vw 0.2vw 0.2vw blueviolet;}     
.screen{
    background-image: url("back-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 31vw;}
.road{
    background-image: url("r.png");
    background-size: cover;
    background-repeat: no-repeat;
  
}
#img{
    width: 200px;
    padding: 40px;
}
.text{
    font-size: 1.6vw;
    background-color: yellowgreen;
    padding: 1vw;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .btn2{
     background-color:darkturquoise;
     font-size: 1.3vw;
     padding: 0.5vw;
     border-color: gainsboro;
 }
 button:hover{
     color: white;
 }
 .copy{
     font-size:1vw;
     text-align: center;
    }
    
