*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.screen{
    background-image: url("back-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 31.6vw;}
.road{
    background-image: url("r.png");
    background-size: cover;
    background-repeat: no-repeat;
  
}
#img{
    width: 200px;
    padding: 40px;
}
.text{
    font-size: 1.6vw;
    background-color: yellowgreen;
    padding: 1vw;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .btn2{
     background-color:darkturquoise;
     font-size: 1.3vw;
     padding: 0.5vw;
     border-color: gainsboro;
 }
 button:hover{
     color: white;
 }